@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --bg-color: #24142c;
    --text-color: #f6f6f8;
    --dark-blue-color: #6c63fb;
    --light-blue-color: #748df191;
    --grey-color: #3e3b51;
    --orange-color: #9e616b;
    /* --primary-font: "PT Sans", sans-serif; */
}

* {
    color: var(--text-color);
    font-size: 18px;
    font-family: var(--primary-font);
    font-weight: normal;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

section {
    flex: 1;
    margin-left: 250px;
    padding: 20px;
}

header {
    width: 250px;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--grey-color);
    position: fixed;
    z-index: 10;
}

header .logo {
    font-size: 24px;
    font-weight: 600;
    margin: 5px 5px 5px 5px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    background-color: var(--grey-color);
}

header nav {
    align-items: center;
    justify-content: flex-start;
    /* margin: 5px 5px 5px 5px;
    padding: 5px 10px 5px 10px; */
    background-color: var(--grey-color);
    display: block;
    transition: 0.3s;
}

header nav ul {
    list-style: none;
    justify-content: center;
    margin: 5px 5px 5px 5px;
    padding: 5px 10px 5px 10px;
}

header nav h2 {
    cursor: pointer;
    padding: 5px 10px;
    display: inline-block;
    width: auto;
    text-align: left;
    background-color: var(--grey-color);
}

header nav h2:hover {
    cursor: pointer;
    font-weight: bold;
}

section .top-section {
    display: flex;
}

section .top-section .location-name {
    display: inline;
    flex: 1;
}

section .top-section .search-box {
    align-items: center;
    background-color: var(--grey-color);
    border-radius: 20px;
    padding: 5px 10px;
    width: 300px;
    height: 40px;
    margin-right: 10px;
    display: flex;
}

section .top-section .search-box:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--grey-color);
}

section .top-section .search-box .search-input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: var(--text-color);
}

section .top-section .search-box .search-icon {
    padding: 10px 10px;
    background-color: transparent;
}

section .top-section .search-box .search-icon:hover {
    cursor: pointer;
}

section .top-section .search-box .location-error-message {
    position: absolute;
    background-color: transparent;
    color: var(--orange-color);
    padding: 10px 10px;
    font-size: 12px;
    display: none;
}

section .weather-info-section .information-type{
    font-size: larger;
    color: var(--orange-color);
    font-weight: bolder;
}

/* styles to display current weather information */

section .weather-info-section .current-weather-data {
    background-color: var(--light-blue-color);
    box-shadow: 0 0 10px var(--light-blue-color);
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    cursor: default;
    display: none;
    /* border: 10px, 10px, 10px, 10px; */
    /* display: inline-block; */
}

section .weather-info-section .current-weather-data .condition-text{
    font-size: 24px;
    font-weight: bolder;
}


.current-weather-data-container {
    display: flex;
}

.current-weather-data-container .condition-icon {
    flex: 1;
    align-self: center;
    object-fit: fill; 
}


section .weather-info-section .current-weather-data .temperature{
    font-size: 80px;
    font-weight: 300;
}

section .weather-info-section .current-weather-data .degree-symbol,
section .weather-info-section .current-weather-data .temp-unit{
    font-size: 50px;
    font-weight: 300;
}

section .weather-info-section .current-weather-data .temp-unit:hover{
    cursor: pointer;
}

.weather-info-section .current-weather-data .temp-directions {
    position: absolute;
    top: -30px;
    left: 0;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    display: none;
}

section .weather-info-section .current-weather-data .speed-unit {
    display: none;
}

section .weather-info-section .current-weather-data .change-speed-unit {
    cursor: pointer;
    -webkit-filter: invert(1);
    filter: invert(1);
    height: 35px;
}
section .weather-info-section .current-weather-data .condition-icon {
    cursor: pointer;
    height: 60px;
}
.wind-speed,
.change-speed-unit {
    display: inline-block;
    vertical-align: middle;
}


section .weather-info-section .current-weather-data td {
    text-align: center;
}

section .weather-info-section .ten-day-forecast-data {
    background-color: var(--light-blue-color);
    box-shadow: 0 0 10px var(--light-blue-color);
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    cursor: default;
    display: block;
    /* border: 10px, 10px, 10px, 10px; */
    /* display: inline-block; */
}

/*Styles for 10 day weather forecast*/
/* Styles for the day summary container */
.day-summary {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: var(--light-blue-color);
}

/* Styles for the date */
.date {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Styles for the condition text */
.forecast-condition-text {
    margin-bottom: 5px;
}

/* Styles for the condition icon */
.forecast-condition-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

/* Styles for the temperature spans */
.avg-temp, .min-temp, .max-temp {
    display: block;
    margin-bottom: 5px;
}
